* {
  font-family: "Open Sans", sans-serif !important;
  scroll-behavior: smooth;
  transition: 0.2s ease;
  user-select: none;
  -moz-user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #202c38;
}

::-webkit-scrollbar-track {
  background-color: none;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Navbar Styling */
#navbar {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* Hero Section Styling */
#hero {
  height: 100%;

  padding: 100px;

  background: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.jumbotron {
  background: none !important;
}

#text-color,
#background-color,
#gradient-bg-color,
#gradient-text-color {
  padding: 100px;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

#text-color {
  background-color: #2c3e50;
  color: #fff;
}

#background-color {
  background-color: #ff6347;
}

#gradient-bg-color {
  background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
}

#gradient-text-color {
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
}

/* Palette Container Style */
.palette-container {
  width: 100%;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.gradient-palette-container {
  width: 100% !important;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.color-tabs {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  flex-flow: row;
  justify-content: center;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 10px 20px 0px #07070723;
}

.color-tabs:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.preview-text {
  font-size: 2rem;
  font-weight: bold !important;
}

.gradient-bg-text,
.gradient-text {
  font-size: 1.8rem;
}

/* Text Color Tabs Styling */

/* First Text Palette Styling */
.txt-0 {
  background-color: #fff;
  color: #2ecc71;
}

.txt-1 {
  background-color: #fff;
  color: #3498db;
}

.txt-2 {
  background-color: #ffff;
  color: #9b59b6;
}

.txt-3 {
  background-color: #ffff;
  color: #f1c40f;
}

.txt-4 {
  background-color: #ffff;
  color: #e74c3c;
}

.txt-5 {
  background-color: #ffff;
  color: #d35400;
}

.txt-6 {
  background-color: #ffff;
  color: #34495e;
}

.txt-7 {
  background-color: #ffff;
  color: #706fd3;
}

/* Second Text Palette Styling */

.txt-8 {
  background-color: #2c3e50;
  color: #18dcff;
}

.txt-9 {
  background-color: #2c3e50;
  color: #7d5fff;
}

.txt-10 {
  background-color: #2c3e50;
  color: #ff4d4d;
}

.txt-11 {
  background-color: #2c3e50;
  color: #fff200;
}

.txt-12 {
  background-color: #2c3e50;
  color: #ffcccc;
}

.txt-13 {
  background-color: #2c3e50;
  color: #1e90ff;
}

.txt-14 {
  background-color: #2c3e50;
  color: #32ff7e;
}

/* Third Text Palette Styling */
.txt-15 {
  background-color: #2c3e50;
  color: #a3cb38;
}

.txt-16 {
  color: #0652dd;
}

.txt-17 {
  color: #ed4c67;
}

.txt-18 {
  color: #9980fa;
}

.txt-19 {
  color: #d1ccc0;
}

.txt-20 {
  color: #40407a;
}

.txt-21 {
  color: #006266;
}

.txt-22 {
  color: #37dbd0;
}

.txt-23 {
  color: #7e349d;
}

/* Background Color Tab Styling */

/* First Flat BG Palette Styling */
.bg-0 {
  background-color: #f44336;
}

.bg-1 {
  background-color: #2196f3;
}

.bg-2 {
  background-color: #8bc34a;
}

.bg-3 {
  background-color: #ff5722;
}

.bg-4 {
  background-color: #795548;
}

.bg-5 {
  background-color: #cddc39;
}

.bg-6 {
  background-color: #673ab7;
}

.bg-7 {
  background-color: #2ecc71;
}

/* Second Flat BG Palette Styling */

.bg-8 {
  background-color: #ffc312;
}

.bg-9 {
  background-color: #3f51b5;
}

.bg-10 {
  background-color: #00bcd4;
}

.bg-11 {
  background-color: #f78fb3;
}

.bg-12 {
  background-color: #f19066;
}

.bg-13 {
  background-color: #303952;
}

.bg-14 {
  background-color: #4b6584;
}

.bg-15 {
  background-color: #8a0028;
}

/* Third Flat BG Palette Styling */

.bg-16 {
  background-color: #ff0084;
}

.bg-17 {
  background-color: #32cd32;
}

.bg-18 {
  background-color: #808080;
}

.bg-19 {
  background-color: #847545;
}

.bg-20 {
  background-color: #d13438;
}

.bg-21 {
  background-color: #107c10;
}

.bg-22 {
  background-color: #aa00ff;
}

.bg-23 {
  background-color: #37dbd0;
}

/* Gradiant Background Color Tab Styling */

/* First Gradient Background Plaette Styling */
.gr-bg-0 {
  background: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125));
}

.gr-bg-1 {
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}

.gr-bg-2 {
  background: linear-gradient(to right, rgb(252, 70, 107), rgb(63, 94, 251));
}

.gr-bg-3 {
  background: linear-gradient(to right, rgb(201, 75, 75), rgb(75, 19, 79));
}

.gr-bg-4 {
  background: linear-gradient(
    to right,
    rgb(15, 12, 41),
    rgb(48, 43, 99),
    rgb(36, 36, 62)
  );
}

.gr-bg-5 {
  background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
}

.gr-bg-6 {
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
}

/* Second Gradient Background Plaette Styling */
.gr-bg-7 {
  background: linear-gradient(to right, rgb(69, 104, 220), rgb(176, 106, 179));
}

.gr-bg-8 {
  background: linear-gradient(to right, rgb(106, 48, 147), rgb(160, 68, 255));
}

.gr-bg-9 {
  background: linear-gradient(to right, rgb(248, 80, 50), rgb(231, 56, 39));
}

.gr-bg-10 {
  background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
}

.gr-bg-11 {
  background: linear-gradient(to right, rgb(127, 0, 255), rgb(225, 0, 255));
}

.gr-bg-12 {
  background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
}

.gr-bg-13 {
  background: linear-gradient(to right, rgb(6, 190, 182), rgb(72, 177, 191));
}

/* Third Gradient Background Plaette Styling */
.gr-bg-14 {
  background: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
}

.gr-bg-15 {
  background: linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
}

.gr-bg-16 {
  background: linear-gradient(to right, rgb(203, 53, 107), rgb(189, 63, 50));
}

.gr-bg-17 {
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
}

.gr-bg-18 {
  background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
}

.gr-bg-19 {
  background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
}

.gr-bg-20 {
  background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
}

/* Gradiant Text Tab Styling */

/* First Gradient Text Plaette Styling */
.gr-txt-0 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    143.3deg,
    rgba(216, 27, 96, 1) 33.1%,
    rgba(237, 107, 154, 1) 74.9%
  );
}
.gr-txt-1 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle 1294px at -15.5% 23.8%,
    rgba(255, 206, 149, 1) 0%,
    rgba(247, 92, 92, 1) 44.9%,
    rgba(108, 0, 96, 0.97) 93.8%
  );
}
.gr-txt-2 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 37, 174, 1) 0%,
    rgba(241, 147, 55, 1) 53.4%,
    rgba(250, 237, 56, 1) 99.5%
  );
}
.gr-txt-3 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    292.9deg,
    rgba(254, 105, 241, 1) 28.8%,
    rgba(182, 44, 248, 1) 70.4%
  );
}
.gr-txt-4 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    109.5deg,
    rgba(76, 221, 242, 1) 11.2%,
    rgba(92, 121, 255, 1) 91.1%
  );
}
.gr-txt-5 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    135.9deg,
    rgba(109, 25, 252, 1) 16.4%,
    rgba(125, 31, 165, 1) 56.1%
  );
}
.gr-txt-6 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle 966px at 6.9% 10.8%,
    rgba(92, 123, 237, 1) 0%,
    rgba(147, 186, 252, 1) 90%
  );
}
.gr-txt-7 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 157, 129, 1) 24.3%,
    rgba(255, 78, 78, 1) 78.3%
  );
}
.gr-txt-8 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
}
.gr-txt-9 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle 939px at 94.7% 50%,
    rgba(0, 178, 169, 1) 0%,
    rgba(0, 106, 101, 1) 76.9%
  );
}
.gr-txt-10 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 14.2% 27.5%,
    rgba(104, 199, 255, 1) 0%,
    rgba(181, 126, 255, 1) 90%
  );
}
.gr-txt-11 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    358.3deg,
    rgba(255, 82, 168, 1) 12.9%,
    rgba(177, 118, 240, 1) 134.3%
  );
}
.gr-txt-12 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    109.8deg,
    rgba(62, 5, 116, 1) -5.2%,
    rgba(41, 14, 151, 1) -5.2%,
    rgba(216, 68, 148, 1) 103.3%
  );
}
.gr-txt-13 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    78.1deg,
    rgba(177, 14, 236, 1) 5.5%,
    rgba(255, 19, 15, 1) 92.8%
  );
}
.gr-txt-14 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(111, 111, 219, 1) 0%,
    rgba(182, 109, 246, 1) 72.4%
  );
}
.gr-txt-15 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    109.6deg,
    rgba(101, 58, 150, 1) 29.9%,
    rgba(168, 141, 194, 1) 99.9%
  );
}
.gr-txt-16 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle 609.6px at 21.5% 78.8%,
    rgba(37, 99, 219, 1) 0%,
    rgba(233, 45, 181, 1) 89.9%
  );
}
.gr-txt-17 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    109.6deg,
    rgba(9, 9, 121, 1) 11.2%,
    rgba(144, 6, 161, 1) 53.7%,
    rgba(0, 212, 255, 1) 100.2%
  );
}
.gr-txt-18 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    179.2deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(8, 0, 153, 1) 29.7%,
    rgba(118, 6, 166, 1) 63.4%,
    rgba(233, 0, 64, 0.58) 100.1%
  );
}
.gr-txt-19 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    109.6deg,
    rgba(33, 25, 180, 1) 11.2%,
    rgba(253, 29, 29, 1) 55.2%,
    rgba(252, 176, 69, 1) 91.1%
  );
}
.gr-txt-20 span {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    138deg,
    rgba(32, 201, 255, 1) 36.7%,
    rgba(0, 8, 187, 1) 84.4%,
    rgba(255, 255, 255, 1) 119.7%
  );
}

/* Responsive Codes Starts From Here */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 18px !important;
  }

  #hero {
    padding: 30px;
  }

  .hero-header {
    font-size: 2rem;
  }

  .lead {
    font-size: 18px;
    margin: 30px 0 !important;
  }

  #text-color,
  #background-color,
  #gradient-bg-color,
  #gradient-text-color {
    padding: 100px 10px;
  }

  h3 {
    font-size: 25px !important;
  }

  .palette-container,
  .gradient-palette-container {
    width: 100%;
    padding: 10px 0;
    flex-flow: wrap;
  }

  .gradient-bg-text,
  .gradient-text {
    font-size: 25px;
  }

  .color-tabs {
    width: 35%;
  }

  .gr-bg-6,
  .gr-bg-13,
  .gr-bg-20,
  .gr-txt-6,
  .gr-txt-13,
  .gr-txt-20 {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px !important;
  }

  #hero {
    padding: 30px;
  }

  .hero-header {
    font-size: 2rem;
  }

  .lead {
    font-size: 18px;
    margin: 30px 0 !important;
  }

  #text-color,
  #background-color,
  #gradient-bg-color,
  #gradient-text-color {
    padding: 50px 10px;
  }

  h3 {
    font-size: 25px !important;
  }

  .palette-container,
  .gradient-palette-container {
    width: 100%;
    padding: 10px 0;
    flex-flow: wrap;
  }

  .gradient-bg-text,
  .gradient-text {
    font-size: 25px;
  }

  .color-tabs {
    width: 35%;
  }

  .gr-bg-6,
  .gr-bg-13,
  .gr-bg-20,
  .gr-txt-6,
  .gr-txt-13,
  .gr-txt-20 {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 18px !important;
  }

  #hero {
    padding: 50px;
  }

  .hero-header {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 18px;
    margin: 30px 0 !important;
  }

  #text-color,
  #background-color,
  #gradient-bg-color,
  #gradient-text-color {
    padding: 50px 10px;
  }

  h3 {
    font-size: 25px !important;
  }

  .palette-container,
  .gradient-palette-container {
    width: 100%;
    padding: 50px 0;
    flex-flow: wrap;
  }

  .gradient-bg-text,
  .gradient-text {
    font-size: 25px;
  }

  .color-tabs {
    width: 15%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px !important;
  }

  #hero {
    padding: 100px;
  }

  .hero-header {
    font-size: 3.5rem;
  }

  .lead {
    font-size: 18px;
    margin: 30px 0 !important;
  }

  #text-color,
  #background-color,
  #gradient-bg-color,
  #gradient-text-color {
    padding: 100px 10px;
  }

  h3 {
    font-size: 2rem !important;
  }

  .palette-container,
  .gradient-palette-container {
    width: 100%;
    padding: 50px 0;
    flex-flow: wrap;
  }

  .gradient-bg-text,
  .gradient-text {
    font-size: 1.2rem;
  }

  .color-tabs {
    width: 10%;
    margin: 10px;
  }
}

/*
 =====================================
 =       Al Nahian ♥ 6 July 2020     =
 ===================================== 
*/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 18px !important;
  }

  #hero {
    padding: 100px;
  }

  .hero-header {
    font-size: 3.5rem;
  }

  .lead {
    font-size: 18px;
    margin: 50px 0 !important;
  }

  #text-color,
  #background-color,
  #gradient-bg-color,
  #gradient-text-color {
    padding: 100px 0;
  }

  h3 {
    font-size: 2rem !important;
  }

  .palette-container {
    width: 100%;
    padding: 50px;
    flex-flow: row;
  }

  .gradient-palette-container {
    width: 90% !important;
  }

  .gradient-bg-text,
  .gradient-text {
    font-size: 25px;
  }

  .color-tabs {
    width: 15%;
  }
}

/*
 =====================================
 =       Al Nahian ♥ 6 July 2020     =
 ===================================== 
*/
